
@{
    ViewBag.Title = "Index";
}

<h2>Home - Index</h2>


<input type="text" id="example_id" name="example_name" value="" />


@section Scripts {

    <script type="text/javascript">
        //http://ionden.com/a/plugins/ion.rangeSlider/en.html
        $(document).ready(function () {
            $("#example_id").ionRangeSlider();
        });
    </script>
}